*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header{
    background: red;
    height: 30vh;
}

.Main{
    background: gray;
}

.Left{
    background: yellow;
}

.Right{
    background: green;
}

.Footer{
    background: blue;
}